<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Booking - Choose an Event</title>
    <style>
        body { width: 800px; margin: auto; }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
</header>

<main>
    <h2>Choose an event:</h2>
    <form action="/eventBooking" method="post">
        <div th:each="event : ${events}">
            <!-- Radio button for each event -->
            <input type="radio" th:value="${event.name}" name="eventName">
            <span>
                    Name: <b th:text="${event.name}"></b>,
                    Description: <span th:text="${event.description}"></span>,
                    Rating: <span th:text="${event.popularityScore}"></span>
                </span>
            <br/>
        </div>

        <h2>Enter your details</h2>
        <label for="attendeeName">Name:</label>
        <input type="text" id="attendeeName" name="attendeeName" required><br/>

        <label for="attendeeAddress">Address:</label>
        <input type="text" id="attendeeAddress" name="attendeeAddress" required><br/>

        <label for="numberOfTickets">Number of tickets:</label>
        <input type="number" id="numberOfTickets" name="numberOfTickets" min="1" max="10" required><br/><br/>

        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>
