<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Booking - Choose an Event</title>
    <style>
        body { width: 800px; margin: auto; }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
</header>

<main>
    <!-- Add Search Form -->
    <form action="/" method="get">
        <label for="searchText">Search Events:</label>
        <input type="text" id="searchText" name="searchText" placeholder="Enter event name or description">

        <label for="minRating">Min Rating:</label>
        <input type="number" id="minRating" name="minRating" step="0.1" min="0" placeholder="0.0">

        <button type="submit">Search</button>
    </form>

    <!-- Choose Event Form -->
    <h2>Choose an event:</h2>
    <form action="/eventBooking" method="post">
        <div th:each="event : ${events}">
            <input type="radio" th:value="${event.name}" name="eventName">
            <span>
                Name: <b th:text="${event.name}"></b>,
                Description: <span th:text="${event.description}"></span>,
                Rating: <span th:text="${event.popularityScore}"></span>
            </span>
            <br/>
        </div>

        <h2>Enter your details</h2>
        <label for="attendeeName">Name:</label>
        <input type="text" id="attendeeName" name="attendeeName" required><br/>

        <label for="attendeeAddress">Address (IP):</label>
        <input type="text" id="attendeeAddress" name="attendeeAddress" th:value="${clientIpAddress}" readonly><br/>


        <label for="numberOfTickets">Number of tickets:</label>
        <input type="number" id="numberOfTickets" name="numberOfTickets" min="1" max="10" required><br/><br/>

        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>
